main {
  display: flex;
  width: 960px;
  padding: 20px;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

section {
  background-color: #ddd;
}

/* **************************************** */
/* DO NOT TOUCH ANY STYLES ABOVE THIS LINE! */
/* WRITE YOUR STYLES BELOW! 👇👇👇           */
/* **************************************** */
